<h3>Name:</h3><h3 id="name"></h3><br />
<h4>Skills:</h4><span id="skills"></span><br />
<h4>Opportunities:</h4><span id="opportunities"> </span><br />

<h4>Available?</h4>
<strong>Monday:</strong><span id="monday"> </span>
<strong>Tuesday:</strong><span id="tuesday"> </span>
<strong>Wednesday:</strong><span id="wednesday"> </span><br />
<strong>Thursday:</strong><span id="thursday"> </span>
<strong>Friday:</strong><span id="friday"> </span>
<strong>Saturday:</strong><span id="saturday"> </span>
<strong>Sunday:</strong><span id="sunday"> </span>

<div id="buttons"></div>
<%= button_to "Edit", edit_volunteer_path(@volunteer), :method => 'get', :id => 'edit' %>
<%= button_to "Delete", volunteer_path(@volunteer), :method => 'delete', :id => 'delete', data: {confirm: "Are you sure?"} %>
<button type="button" id="previous" volunteer="">Previous Volunteer</button>
<button type="button" id="next" volunteer="">Next Volunteer</button>
