<h3 id="name">Name: <%#= @volunteer.name %></h3><br />
<h4 id="skils">Skills:<%#= render 'skills', skills: @volunteer.skills %> </h4><br />
<%#= render(@opportunities) || "Not Yet Assigned to Any Opportunities" %>

<h4>Available?</h4>
Monday: <%#= yesno(@volunteer.availability.monday) %><br />
Tuesday: <%#= yesno(@volunteer.availability.tuesday) %><br />
Wednesday: <%#= yesno(@volunteer.availability.wednesday) %><br />
Thursday: <%#= yesno(@volunteer.availability.thursday) %><br />
Friday: <%#= yesno(@volunteer.availability.friday) %><br />
Saturday: <%#= yesno(@volunteer.availability.saturday) %><br />
Sunday: <%#= yesno(@volunteer.availability.sunday) %>

<div id="buttons"></div>
<button type="button" id="next" volunteer="">Next Volunteer</button>

<script type="text/javascript" charset="utf-8">
$(function () {
  // var id = window.location.pathname.substring(12)
    $("#next").click(function(){
      var id = document.getElementById("next").getAttribute("volunteer")
      // debugger;
      var newId = parseInt(id)
      var nextId = newId += 1
      var getting = $.get('/volunteers/' + newId + '.json');
      getting.done(function(data){
        loadVol(data["id"])
      })
    });

  loadVol(window.location.pathname.substring(12))
})

function loadVol(id) {
  document.getElementById("next").setAttribute("volunteer", id)
  var getting = $.get('/volunteers/' + id + '.json');
  getting.done(function(data){
    var vol = new Volunteer(data["id"], data["name"])
    var editButton = $('<%= button_to "Edit", edit_volunteer_path(@volunteer), :method => 'get' %>')
    var deleteButton = $('<%= button_to "Delete", volunteer_path(@volunteer), :method => 'delete' %>')
// debugger;
    $("#name").text('Name: ' + vol["name"])
    $("#buttons").empty()
    $("#buttons").append(editButton, deleteButton)
  });
};

</script>
