<h3>Name:</h3><h3 id="name"></h3><br />
<h4>Skills:</h4><span id="skils"></span><br />
<h4>Opportunities:</h4><span id="opportunities"> </span><br />

<h4>Available?</h4>
<strong>Monday:</strong><span id="monday"> </span>
<strong>Tuesday:</strong><span id="tuesday"> </span>
<strong>Wednesday:</strong><span id="wednesday"> </span><br />
<strong>Thursday:</strong><span id="thursday"> </span>
<strong>Friday:</strong><span id="friday"> </span>
<strong>Saturday:</strong><span id="saturday"> </span>
<strong>Sunday:</strong><span id="sunday"> </span>

<div id="buttons"></div>
<button type="button" id="edit" volunteer="">Edit Volunteer</button>
<button type="button" id="delete" volunteer="">Delete Volunteer</button>
<button type="button" id="next" volunteer="">Next Volunteer</button>

<script type="text/javascript" charset="utf-8">
$(function () {
    $("#next").click(function(){
      var id = document.getElementById("next").getAttribute("volunteer")
      var newId = parseInt(id) + 1
      var getting = $.get('/volunteers/' + newId + '.json');
      getting.done(function(data){
        $("#opportunities").empty()
        loadVol(data["id"])
      }).fail(function(data) {
        loadVol(1)
      });
    });

    $("#edit").click(function(){
      var id = document.getElementById("next").getAttribute("volunteer")
      var getting = $.get('/volunteers/' + id + '.json/edit');
      getting.done(function(data){
        debugger;
      });
    });

    $("#delete").click(function(){
      var id = document.getElementById("next").getAttribute("volunteer")
      var getting = $.get('/volunteers/' + id + '.json/destroy');
      getting.done(function(data){
        debugger;
    });
  });



  loadVol(window.location.pathname.substring(12))
})

function loadVol(id) {
  document.getElementById("next").setAttribute("volunteer", id)
  var getting = $.get('/volunteers/' + id + '.json');
  getting.done(function(data){
    var vol = new Volunteer(data["id"], data["name"])

    $.each(data.opportunities, function(k, v) {
      // debugger;
      var opp = new Opportunity(v["id"], v["name"], v["day"], v["status"])
      var html = opp.url()  + ' || Day: ' + opp.day  + ' || Status: ' + opp.status + '<br />'
      $("#opportunities").append(html)
    })

    var availability = new Availability(data.availability["id"], data.availability["volunteer_id"], data.availability["monday"], data.availability["tuesday"], data.availability["wednesday"], data.availability["thursday"], data.availability["friday"], data.availability["saturday"], data.availability["sunday"])
    $("#monday").text(availability.monday)
    $("#tuesday").text(availability.tuesday)
    $("#wednesday").text(availability.wednesday)
    $("#thursday").text(availability.thursday)
    $("#friday").text(availability.friday)
    $("#saturday").text(availability.saturday)
    $("#sunday").text(availability.sunday)

    $("#name").text(vol["name"])
    })
};

</script>
