<%= render 'layouts/errors', object: @organization %>

<%= render 'form', organization: @organization %>

<div id="organization"></div>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form').submit(function(event) {
      event.preventDefault();
      var values = $(this).serialize();
      var posting = $.post('/organizations', values);
      this.reset();
      posting.done(function(data) {
        debugger
        var organization = new Organization(data["id"], data["name"]);
        $("#organization").append(organization.url())
      });
    });
  });
</script>
